
body {
  /* background-color: rgb(236, 242, 239); */
  border: 2px solid black;
  height: 1000px;
  width: 500px;
  margin: auto;
}
.title {
  color: white;
  background-color: lightslategray;
  margin-top: auto;
  text-align: center;
  
  
}
.navbar {
  color: white;
  display: grid;
  bottom: 0;
  position: fixed;
  width: 500px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 3;
  background-color: lightslategray;
  text-align: center;
}
.navbar a {
  color: white;
}